/*---------------------初始化样式--------------------*/
cite, i, s, b, em {
	font-style: normal;
	font-weight: normal;
}

body, ul, li, p, dl, dt, dd, ol, h1, h2, h3, h4, h5, h6, figure {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

input {
	font-family: 'Microsoft YaHei', STXihei, MingLiu;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: "Microsoft YaHei";
}

a {
	text-decoration: none
}

.wrap {
	width: 100%;
}

.find-box ul li {
	width: 100%;
	margin-top: 0.64rem;
	border-bottom: 1px solid #ccc;
}

.find-box ul li:last-child {
	border-bottom: none;
}

.find-box ul li a {
	display: block;
}

.find-box ul li img {
	padding: 0 2%;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.res-details {
	padding: 0.85rem 2% 0.746rem;
}

.res-details h2 {
	font-size: 0.9rem;
	margin-bottom: 0.6rem;
}

.res-details p {
	font-size: 0.5rem;
	color: #999;
	line-height: 1rem;
}

.load {
	width: 35%;
	height: 2rem;
	line-height: 2rem;
	margin: 0 auto;
	font-size: 0.75rem;
	display: none;
}

.load b {
	float: left;
	display: block;
}

.load img {
	float: left;
	margin: 0.5rem 0.3rem 0 0;
}

/* ---------------------详情页----------------------- */
.details-box {
	z-index: 1;
}

.details-box, .details-box img {
	width: 100%;
}

.details-box .find-detail {
	width: 100%;
}

.details-box .find-detail h2 {
	width: 100%;
	font-size: 1rem;
	padding: 0.6rem 0 0.789rem 0;
	font-weight: bold;
	line-height: 1.5rem;
	border-bottom: 1px solid #ccc;
	text-indent: 0.9rem;
}

.details-box .find-detail h2 > a {
	float: right;
	margin: 0.3rem 1rem;
}

.icon-share {
	color: #fff;
	width: 17px;
	height: 16px;
	background: url(../images/icon.png) no-repeat -12px -4px;
	background-size: 120px 140px;
}

.details-box .find-detail p {
	width: 92%;
	padding: 0.853rem 4%;
	color: #757575;
	font-size: 0.75rem;
	line-height: 1.3rem;
	font-weight: bold;
}

.once-use {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 49px;
	line-height: 49px;
	color: #fff;
	text-align: center;
	background: #ddae77;
}

.details-box .find-detail img, .image-captioned img {
	width: 100%;
	height: auto;
}

/*hide ckeditor produced tag*/
figcaption {
	display: none;
}

.watermark {
	width: 101px;
	height: 77px;
	background: url('../images/watermark.png') no-repeat center;
	background-size: 101px 77px;
	margin: 20px auto 0;
}

.pd-bot {
	padding-bottom: 80px;
}

.filter-blur {
	-webkit-filter: blur(30px);
	-moz-filter: blur(30px);
	-o-filter: blur(30px);
	-ms-filter: blur(30px);
	filter: blur(30px);
}

.big-pic {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}

.big-pic img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
}






